#!/bin/bash
# hash: {{ lookPath "kubectl" }}

# ensure PATH
export PATH="$HOME/.local/bin:$PATH"
eval "$(mise activate bash)"

mkdir -p ~/.zsh-custom/completions
if command -v kubectl >/dev/null 2>&1; then
    kubectl completion zsh > ~/.zsh-custom/completions/_kubectl
    echo "Kubectl completions updated."
fi
