#!/bin/bash
# hash: {{ lookPath "kubectl" }}

export PATH="$HOME/.local/bin:$PATH"

if command -v mise >/dev/null 2>&1; then
    eval "$(mise activate bash)"
fi

mkdir -p ~/.zsh-custom/completions
if command -v kubectl >/dev/null 2>&1; then
    kubectl completion zsh > ~/.zsh-custom/completions/_kubectl
    echo "Kubectl completions updated."
fi
