{{- /* Define Default Packages */ -}}
{{- $tools := dict
    "node" "latest"
    "python" "latest"
    "ripgrep" "latest"
    "neovim" "stable"
    "rust" "latest"
    "cargo:fd-find" "latest"
    "cargo:git-delta" "latest"
    "cargo:tree-sitter-cli" "latest"
    "tmux" "latest"
    "overmind" "latest"
    "lazygit" "latest"
-}}

{{- /* Merge with Overrides from chezmoi.toml data */ -}}
{{- if hasKey . "mise_tool_overrides" -}}
  {{- $tools = merge $tools .mise_tool_overrides -}}
{{- end -}}

[tools]
{{ range $name, $version := $tools -}}
{{- if ne $version "" -}}
{{ $name | quote }} = {{ $version | quote }}
{{ end -}}
{{- end -}}

[env]
MAKEFLAGS = "-j$(nproc)"

[settings]
# Automatically install missing tools on shell start
asdf_compat = true
jobs = 4

