[env]
MAKEFLAGS = "-j$(nproc)"

[tools]
"asdf:neovim" = "ref:stable"
ripgrep = "14.1.0"
rust = "latest"
"cargo:fd-find" = "latest"
"cargo:git-delta" = "latest"
"cargo:tree-sitter-cli" = "latest"
"npm:@devcontainers/cli" = "latest"
fzf = "latest"

{{- if not (lookPath "node") }}
node = "lts"
{{- end }}

{{- if not (lookPath "python") }}
python = "3.12"
{{- end }}

{{- if not (lookPath "kubectl") }}
kubectl = "latest"
{{- end }}

{{- if not (lookPath "tmux") }}
tmux = "latest"
{{- end }}
overmind = "latest"

[settings]
# Automatically install missing tools on shell start
asdf_compat = true
jobs = 4

