{{- /* Define Default Packages */ -}}
{{- $tools := dict
    "node" "latest"
    "python" "latest"
    "ripgrep" "latest"
    "neovim" "stable"
    "rust" "latest"
    "fd" "latest"
    "delta" "latest"
    "tree-sitter" "latest"
    "tmux" "latest"
    "lazygit" "latest"
-}}

{{- /* Merge with Overrides from chezmoi.toml data */ -}}
{{- if hasKey . "mise_tool_overrides" -}}
  {{- $tools = mergeOverwrite $tools .mise_tool_overrides -}}
{{- end -}}

[tools]
{{ range $name, $version := $tools -}}
{{- if ne $version "" -}}
{{ $name | quote }} = {{ $version | quote }}
{{ end -}}
{{- end -}}

[env]

[settings]
# Automatically install missing tools on shell start
asdf_compat = true
jobs = 4

